<!-- DYN -->
<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>
<!-- Using Kontaktify Script  -->
<script async src='https://www.kontaktify.com/embed.js?eyJwb3NpdGlvbiI6InJpZ2h0IiwiY29sb3IiOiI1MEUzQzIiLCJjdXN0b21Db2xvciI6ZmFsc2UsImljb24iOiJhdmF0YXIiLCJwcm9ub3VuIjoibWUiLCJsYW5ndWFnZSI6ImVuIiwiYnJhbmRlZCI6dHJ1ZSwiaW50cm9UZXh0IjpudWxsLCJjaGFubmVscyI6W1siZmFjZWJvb2siLCJpbXN1bWFuamF5Iiwic29jaWFsIl0sWyJ0d2l0dGVyIiwiY3liZXJib3lzaiIsInNvY2lhbCJdLFsibWVzc2VuZ2VyIiwiY3liZXJib3lzdW1hbmpheSIsInNvY2lhbCJdLFsiaW5zdGFncmFtIiwic3VtYW5qYXlfIiwic29jaWFsIl0sWyJ3aGF0c2FwcCIsIjg4NjM5MTExNDEiLCJzb2NpYWwiXSxbInRlbGVncmFtIiwiY3liZXJib3lzdW1hbmpheSIsInNvY2lhbCJdLFsibGlua2VkaW4iLCJodHRwczovL3d3dy5saW5rZWRpbi5jb20vaW4vc3VtYW5qYXktOTgxNmE0MTI4LyIsInNvY2lhbCJdLFsicGhvbmUiLCIrOTEgODg2MzkxMTE0MSIsImNsYXNzaWMiXSxbImVtYWlsIiwiY3liZXJib3lzdW1hbmpheUBnbWFpbC5jb20iLCJjbGFzc2ljIl0sWyJ3ZWJzaXRlIiwiaHR0cDovL3N1bWFuamF5Lm1lIiwiY2xhc3NpYyJdXX0='></script>
